<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <security-role>
        <role-name>admin-gui</role-name>
    </security-role>

    <security-constraint>
        <display-name>Admin Access Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Admin Area</web-resource-name>
            <url-pattern>/actuator/*</url-pattern>
            <url-pattern>/nmt/*</url-pattern>
            <!-- <http-method> -->
        </web-resource-collection>

        <auth-constraint>
            <role-name>admin-gui</role-name>
        </auth-constraint>

        <user-data-constraint>
            <!-- NONE = HTTP or HTTPS allowed -->
            <!-- CONFIDENTIAL = Force redirection to HTTPS -->
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-role>
        <role-name>admin-health</role-name>
    </security-role>

    <security-constraint>
        <display-name>Health Access Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Health Area</web-resource-name>
            <url-pattern>/health/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin-health</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- LoginConfig -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <!-- Not use anymore by Chrome, Edge, Firefox cause phishing attacks  -->
        <realm-name>Nexus Backend Realm</realm-name>
    </login-config>

</web-app>
