<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds">

    <!-- name which is used in the jmx configuration -->
    <contextName>${HOSTNAME}</contextName>

    <!-- Disable logback status during starting -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level %logger{36} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="errorfile">
        <file>${catalina.base}/logs/nexus_backend_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>nexus-backend_error.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%contextName][[%thread]:%d{dd.MM.yyyy HH:mm:ss.SSS}][id:%mdc{APP-REQUEST-ID}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="fullAccessLog">
        <file>${catalina.base}/logs/nexus_backend_full_access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>nexus_backend_full_access.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%contextName][[%thread]:%d{dd.MM.yyyy HH:mm:ss.SSS}][id:%mdc{APP-REQUEST-ID}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Alias ASYNC to error file-->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="errorfile" />
    </appender>

    <!-- Alias ASYNC_FULL_ACCESS to the Full access log -->
    <appender name="ASYNC_FULL_ACCESS" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="fullAccessLog" />
    </appender>


    <!-- set DEBUG to debug Http RestOperations HttpClient5 -->
    <logger name="org.apache.hc.client5.http" level="INFO"/>
    <logger name="org.apache.hc.client5.http.wire" level="INFO"/>

    <!-- Neutralized hibernate, ziplet -->
    <logger name="org.hibernate" level="OFF"/>
    <logger name="com.github.ziplet.filter.compression" level="OFF"/>

    <!-- Neutralized INFO ai.djl -->
    <logger name="ai.djl" level="WARN" />


    <!-- Neutralized HTTPMethodOverrideFilter -->
    <logger name="com.jservlet.nexus.shared.web.filter.HTTPMethodOverrideFilter" level="INFO"/>

    <!-- set ON to debug 'security.web' and see also key logging.level.web=DEBUG -->
    <logger name="org.springframework.security.web" level="OFF"/>

    <!-- WARN DEBUG ServletContextInitializerBeans: Mapping filters (Should be at level INFO) -->
    <logger name="org.springframework.boot.web.servlet.ServletContextInitializerBeans" level="INFO"/>

    <!-- set DEBUG Spring Framework -->
    <logger name="org.springframework" additivity="false" level="INFO">
        <appender-ref ref="ASYNC"/>
    </logger>
    <!-- set DEBUG jsp -->
    <logger name="org.apache.jasper.servlet" additivity="false" level="INFO">
        <appender-ref ref="ASYNC"/>
    </logger>

    <!-- War only OFF for Springboot -->
    <logger name="org.springframework.boot.web.servlet.support.ErrorPageFilter" level="OFF"/>

    <!-- set DEBUG Swagger -->
    <logger name="springfox.documentation.swagger" additivity="false" level="INFO">
        <appender-ref ref="ASYNC"/>
    </logger>
    <!-- set DEBUG SpringDoc -->
    <logger name="org.springdoc.api" additivity="false" level="INFO">
        <appender-ref ref="ASYNC"/>
    </logger>

    <!--  Tomcat CustomContainer the access log in Tomcat Embedded mode -->
    <logger name="com.jservlet.nexus.config.web.tomcat.TomcatCustomContainer" additivity="true" level="INFO"/>

    <!-- WARN set DEBUG to activate the Full access log -->
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" additivity="false" level="OFF">
        <appender-ref ref="ASYNC_FULL_ACCESS"/>
    </logger>

    <!-- set DEBUG the JServlet Nexus package -->
    <logger name="com.jservlet.nexus" additivity="false" level="INFO">
        <appender-ref ref="ASYNC"/>
    </logger>
    <!-- set WARN attack or set DEBUG time, default INFO -->
    <logger name="com.jservlet.nexus.shared.service.security.ml.RequestAnalyzerService" additivity="false" level="INFO">
        <appender-ref ref="ASYNC"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
